Say hello world

In [ ]:
print("hello world") #print the traditional hello world

hello world

In [ ]:
# Try display "Inovation, Ingnity Inovation"
print("Inovation, Ignity Inovation")

Inovation, Ignity Inovation

In [ ]:
# Check your Python ver.

import sys
print(sys.version)

3.10.12 (main, Jul 29 2024, 16:56:48) [GCC 11.4.0]

In [ ]:
# coba-coba
print{'AliesZ'}

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (<ipython-input-7-6906a3d4f003>, line 2)

{} <- THIS THING IS FOR ANOTHER THINNG:

In [ ]:
# COBA-COBA
print('Hello sekai, good morning wolrd')

Hello sekai, good morning wolrd

In [ ]:
print('Honey')
print('Sugar')
print('ice')
print('Mamamia')

Honey
Sugar
ice
Mamamia

In [ ]:
# its time to make mistake
print('Ola) #forgot to close string

SyntaxError: unterminated string literal (detected at line 2) (<ipython-input-10-1c3e89a50dad>, line 2)

In [ ]:
# Another mistake : Typo. Grint is not depfind 'caus it's not in the function. python showing you're mistake
grint('Aing Maung')

NameError: name 'grint' is not defined

In [ ]:
# print string and error to see the running order
print('good')
grint('bad') #grint is not defind
print('good again, not gonna be printed')

good

NameError: name 'grint' is not defined

In [ ]:
#COBA BOLD
print('**bold**') #note:failed

**bold**

# **Weekly Exercise** **1**

## <h3 id="WeeklyExercise1">Weekly Exercise 1</h3>



Buatlah sebuah program untuk menampilkan biodata anda, sebagai contoh :

<pre>
Nama          : Alifia Revan Prananda <br>
NPM           : 1234567 <br>
Alamat        : Jl. Kapten Suparman 39, Magelang, Jawa Tengah <br>
Tinggi Badan  : 168.2 <br>
Berat Badan   : 62.8 <br>
</pre>

In [ ]:
# wekkly exercise 1
print('Nama : Rino Ahmad Raga')
print('NPM : 2440506061')
print('Alamat : Jl. Sudirman, Salaman, Magelang')
print('Tinggi Badan : 187')
print('Berat Badan : 50')

Nama : Rino Ahmad Raga
NPM : 2440506061
Alamat : Jl. Sudirman, Salaman, Magelang
Tinggi Badan : 187
Berat Badan : 50

Nama          : Rino Ahmad Raga
NPM           : 2440506061
Alamat        : Ngdirejo, Salaman, Magelang
Tinggi Badan  : 187
Berat Badan   : 50

In [ ]:
print('Nama         : Rino Ahmad Raga\n') # \n -> newline
print('NPM          : 2440506061\n')
print('Alamat       : Jl. Sudirman, Ngdirejo, Salaman, Magelang\n')
print('Tinggi Badan : 187\n')
print('Berat Badan  : 50\n')

Nama         : Rino Ahmad Raga

NPM          : 2440506061

Alamat       : Jl. Sudirman, Ngdirejo, Salaman, Magelang

Tinggi Badan : 187

Berat Badan  : 50

# **Weekly Exercise 2**

## <h3 id="WeeklyExercise2">Weekly Exercise 2</h3>

Buatlah sebuah program untuk menampilkan tulisan berikut ini :

<pre>
<b>UNIVERSITAS TIDAR </b>
Universitas Tidar merupakan Perguruan Tinggi Pemerintah atau Perguruan Tinggi Negeri yang telah ditetapkan berdasarkan Peraturan Presiden Republik Indonesia Nomor 23 Tahun 2014 pada tanggal 1 April 2014.

<b>JURUSAN TEKNIK ELEKTRO, MEKATRONIKA DAN INFORMASI</b>
Jurusan Teknik Elektro terdiri atas tiga program studi, antara lain:
    1. S1 Teknik Elektro <i>(Bachelor of Electrical Engineering)</i>
    2. S1 Teknologi Informasi <i>(Bachelor of Information Technology)</i>
    3. S1 Teknik Mekatronika <i>(Bachelor of Mechatronics Engineering)</i>

</pre>

Bold => \033[1mTeks Ini\033[0m , Italic => \x1B[3mTEXT\x1B[0m

In [ ]:
print("\033[1mUNIVERSITAS TIDAR\033[0m") # Bold => \033[1mTeks Ini\033[0m , Italic => \x1B[3mTEXT\x1B[0m  Satu TAB-> \t
print('Universitas Tidar merupakan Perguruan Tinggi Pemerintah atau Perguruan Tinggi yang telah ditetapkan berdasarkan Peraturan Presiden Republik Indonesia Nomor 23 Tahun 2014 pada tanggal 1 April 2014.\n\n\033[1mJURUSAN TEKNIK ELEKTRO, MEKATRONIKA, DAN INFORMASI\033[0m')
print('Jurusan Teknik Elektro terdiri atas tiga program studi, antaara lain:')
print('\t1. S1 Teknik Elektro \x1B[3m(Bachelaor of Electrical Engineering)\x1B[0m')
print('\t2. S1 Teknologi Informasi \x1B[3m(Bachelaor of Information Technology)\x1B[0m')
print('\t3. S1 Teknik Mekatronika \x1B[3m(Bachelaor of Mechatronics Engineering)\x1B[0m')

UNIVERSITAS TIDAR
Universitas Tidar merupakan Perguruan Tinggi Pemerintah atau Perguruan Tinggi yang telah ditetapkan berdasarkan Peraturan Presiden Republik Indonesia Nomor 23 Tahun 2014 pada tanggal 1 April 2014.

JURUSAN TEKNIK ELEKTRO, MEKATRONIKA, DAN INFORMASI
Jurusan Teknik Elektro terdiri atas tiga program studi, antaara lain:
	1. S1 Teknik Elektro (Bachelaor of Electrical Engineering)
	2. S1 Teknologi Informasi (Bachelaor of Information Technology)
	3. S1 Teknik Mekatronika (Bachelaor of Mechatronics Engineering)

## **WEEK 02 (TWO)**

In [ ]:
# integer
11

11

In [ ]:
# float
3.14

3.14

In [ ]:
# string

"hello, world 101"

'hello, world 101'

In [ ]:
# Type of 18
type(18) # int => integer

# float               # type() -> digunakan utk mencari tahu int,float,str
type(3.14)

#str = string
type("hello, world")

str

Integers-> positive and negative

In [ ]:
type(-6)

int

Floats -> superst of integer + decimals

In [ ]:
#float type
import sys # it is need to declare "sys" before using it
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

Converting integer to float

In [ ]:
float(2)

2.0

In [ ]:
#check the type
type(float(2))

float

Jika float ke integer nilainya akan berubah dan berpotensi kehilangan sebagian infoemasi. contoh: 1.1 menjadi 1 ,
0.1 ilang

In [ ]:
# Casting 1.1 to integer will result in loss of information
int(1.1)

1

str tp int or loat

In [ ]:
int('1') # str to int
# " " & ' ' , can use one of 'em

1

In [ ]:
int(" 5 or 6 bullets") # its not number, so eror

ValueError: invalid literal for int() with base 10: ' 5 or 6 bullets'

In [ ]:
# str to float
float("3.14")

3.14

Convertng numbers to string

In [ ]:
# int to str
str(7)

'7'

In [ ]:
#Float to str
str(3.14)

'3.14'

Boolean data type : true or false

In [ ]:
True

True

In [ ]:
False

False

In [ ]:
type(True)

bool

# WEEKLY EXERCISE

## <h3 id="WeeklyExercise1">Weekly Exercise 1</h3>



Perbaiki script berikut sehingga tidak muncul error.

<pre>
panjang = 20,5
lebar = 25
tinggi = 10

keliling = 2*(panjang+lebar)
luas = panjang*/lebar
volum = panjang*lebar*tiggi

print("Panjang = " + 'panjang')
printl("Lebar = ' + lebar)
print('Tinggi = "  tinggi)
printl("Keliling = "  'kelling')
print("Volume = " + volume)
</pre>

In [ ]:
panjang = 20.5
lebar = 25
tinggi = 10
keliling = 2*(panjang+lebar)
luas = panjang*lebar
volume = panjang*lebar*tinggi

print("panjang = 20.5")
print("lebar = 25")
print("tinggi = 10")
keliling = 2*(panjang+lebar)
print('keliling = ' ,keliling)
luas = panjang*lebar
print('luas = ' ,lebar)
volume = (panjang*lebar*tinggi)
print('volume =' ,volume)

panjang = 20.5
lebar = 25
tinggi = 10
keliling =  91.0
luas =  25
volume = 5125.0


## <h3 id="WeeklyExercise2">Weekly Exercise 2</h3>
Terdapat data mahasiswa sebagai berikut:
<p>
<a align="center">
    <img src="https://core-ruangguru.s3.amazonaws.com/assets/ruang_belajar/questions/q_9cagpe6808.PNG" width="300">
</a> </p>


Berdasarkan data di atas, buatlah sebuah program untuk menampilkan data-data berikut :
1. Rata-rata nilai Shafira pada kedua mata kuliah
2. Jumlah nilai Hanif dan Andi untuk semua mata kuliah
3. Rata-rata nilai Widya, Dhanar, Hikma dan Nedia pada masing-masing mata kuliah
3. Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa
4. Rata-rata nilai mata kuliah Metode Statistika untuk semua mahasiswa

Dengan ketentuan gunakan variabel agar memudahkan dalam menampilkan hasil

In [ ]:
#rata-rata nilai shafira pada kedua mata kuliah
nilai_shafira = (85+75)/2
print('Nilai Shafira :', nilai_shafira)

#Jumlah nilai Hanif dan Andi untuk semua mata kuliah
nilai_hanif = (75+90)
nilai_andi = (70+75)
jumlah_nilai_hanif_andi = nilai_hanif + nilai_andi
print('Jumlah nilai Hanif dan Andi untuk semua mata kuliah :', jumlah_nilai_hanif_andi)

#Rata-rata nilai Widya, Dhanar, Hikma dan Nedia pada masing-masing mata kuliah
rata_rata_nilai_widya_dhanar_hikma_nedia_matkul_kalkulus =(85+85++80+90)/4
print('Rata-rata nilai Widya, Dhanar, Hikma dan Nedia pada matkul kalkulus :',rata_rata_nilai_widya_dhanar_hikma_nedia_matkul_kalkulus )

rata_rata_nilai_widya_dhanar_hikma_nedia_matkul_statistika =(85+85+75+80)/4
print('Rata-rata nilai Widya, Dhanar, Hikma dan Nedia pada matkul statistika :',rata_rata_nilai_widya_dhanar_hikma_nedia_matkul_statistika )

#Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa
rata_rata_nilai_matkul_kalkulus_semua_mahasiswa =(85+80+75+95+85+75+70+85+80)/9
print('Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa :',rata_rata_nilai_matkul_kalkulus_semua_mahasiswa)

#Rata-rata nilai mata kuliah Metode Statistika untuk semua mahasiswa
rata_rata_nilai_matkul_statistika_semua_mahasiswa =(75+90+80+80+85+90+75+85+75)
print('Rata-rata nilai mata kuliah Metode Statistika untuk semua mahasiswa :',rata_rata_nilai_matkul_statistika_semua_mahasiswa)

Nilai Shafira : 80.0
Jumlah nilai Hanif dan Andi untuk semua mata kuliah : 310
Rata-rata nilai Widya, Dhanar, Hikma dan Nedia pada matkul kalkulus : 85.0
Rata-rata nilai Widya, Dhanar, Hikma dan Nedia pada matkul statistika : 81.25
Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa : 81.11111111111111
Rata-rata nilai mata kuliah Metode Statistika untuk semua mahasiswa : 735

## <h3 id="WeeklyExercise1">Weekly Exercise 3</h3>



Diketahui Dwi adalah seorang karyawan pabrik swasta yang telah bekerja selama 10 tahun. Setiap hari Dwi bekerja selama 8 jam. Prosedur penerimaan honor dari perusahaan ditentukan dengan cara jumlah jam masuk dikali dengan Rp 30.000,-.

Buatlah sebuah program untuk menampilkan data berikut:
1. Gaji pada bulan Agustus jika Dwi tidak masuk kerja selama 3 hari, berapa gaji yang diterima oleh Dwi.
2. Apabila terdapat tunjangan bagi karyawan yang bekerja lebih dari 5 tahun sebesar 10% dari total gaji yang diterima setiap bulan, tentukan jumlah tunjangan yang diterima oleh Dwi pada bulan Agustus.
3. Apabila pada bulan Agustus Dwi mendapatkan tugas lembur selama 5 jam, tentukan gaji total yang diterima oleh Dwi pada bulan Agustus. (upah lembur : Rp 10.000,- per jam)

In [ ]:
#1. Gaji pada bulan Agustus jika Dwi tidak masuk kerja selama 3 hari
jam_kerja_perhari = 8
gaji_perjam = 30000
hari_agustus = 31
tidak_masuk_kerja = 3

hari_kerja_agustus = hari_agustus-tidak_masuk_kerja
print('Jumlah hari kerja di bulan Agustus:',hari_kerja_agustus)

total_jam_kerja = hari_kerja_agustus*jam_kerja_perhari
print('Total jam kerja pada bulan Agustus:',total_jam_kerja)

penghasilan_bulan_agustus = total_jam_kerja*gaji_perjam
print('1. Gaji Dwi pada bulan Agustus:',penghasilan_bulan_agustus)

#2. Tunjangan yang diterima oleh Dwi pada bulan Agustus
tunjangan_karyawan = 10/100

tunjangan_karyawan_agustus = tunjangan_karyawan*penghasilan_bulan_agustus
print('2. Tunjangan yang diterima oleh Dwi pada bulan Agustus:',tunjangan_karyawan_agustus)

#3. Total gaji Dwi di bulan Agustus dengan 5 jam lembur
jam_lembur = 5
upah_lembur_perjam = 10000

total_upah_lembur = jam_lembur*upah_lembur_perjam
print('Total upah lembur Dwi pada bilan Agustus:',total_upah_lembur)

total_gaji_dwi = penghasilan_bulan_agustus+tunjangan_karyawan_agustus+total_upah_lembur
print('3. Total gaji yang diterima oleh Dwi pada bulan Agustus:',total_gaji_dwi)

Jumlah hari kerja di bulan Agustus: 28
Total jam kerja pada bulan Agustus: 224
1. Gaji Dwi pada bulan Agustus: 6720000
2. Tunjangan yang diterima oleh Dwi pada bulan Agustus: 672000.0
Total upah lembur Dwi pada bilan Agustus: 50000
3. Total gaji yang diterima oleh Dwi pada bulan Agustus: 7442000.0