<a href="https://colab.research.google.com/github/Rino-AR/Praktikum-Algoritma-Pemrograman/blob/main/Week09_PythonCollection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
thislist = ["apple", "banana", "cherry", "apple", "cherry", "Ball", "Grass", "yan"]
print(thislist)
print(len(thislist))
print(type(thislist))
print(thislist[2:5])
print(thislist[-4:-1])
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist[-1])

#Join two list:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list2 + list1
print(list3)

#Append list2 into list1:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)
#Use the extend() method to add list2 at the end of list1:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['apple', 'banana', 'cherry', 'apple', 'cherry', 'Ball', 'Grass', 'yan']
8
<class 'list'>
['cherry', 'apple', 'cherry']
['cherry', 'Ball', 'Grass']
Yes, 'apple' is in the fruits list
cherry
[1, 2, 3, 'a', 'b', 'c']
['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

In [13]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry", False, True, 4, 6, 8 )
print(thistuple)
print(len(thistuple))
print(type(thistuple))
print(thistuple[2:5])
print(thistuple[-4:-1])

thisset = {"apple", "banana", "cherry", True, 46, 78}
print(thisset)
print(len(thisset))
print(type(thisset))

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])
print(len(thisdict))
print(type(thisdict))

thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)
print(len(thisdict))
print(type(thisdict))

('apple', 'banana', 'cherry', 'apple', 'cherry', False, True, 4, 6, 8)
10
<class 'tuple'>
('cherry', 'apple', 'cherry')
(True, 4, 6)
{True, 'apple', 'cherry', 'banana', 78, 46}
6
<class 'set'>
Ford
3
<class 'dict'>
{'name': 'John', 'age': 36, 'country': 'Norway'}
3
<class 'dict'>

## <h3 id="WeeklyExercise1">Weekly Exercise 1</h3>
Sebutkan dan jelaskan perbedaan dari list, tuple, set dan dictionary dalam python



1.   List merupakan tipe data yang mana berurutan, dapat diubah, dan dapat berisi duplikat(item dengan value yang sama). Tipe data list diawali dengan tanda kurung siku buka ( [ ) dan ditutup dengan kurung siku tutup ( ] ). Setiap elemen dalam list dipisahkan dengan koma ( , ). List dapat berisi tipe data string, numeric, dan juga boolean.

## <h3 id="WeeklyExercise1">Weekly Exercise 2</h3>
- Buatlah dan tentukan tipe collection untuk mengelola data kalian dengan rincian di bawah :<br/>
    Nama : nama mahasiswa <br/>
    Kelas : kelas mahasiswa <br/>
    Tanggal Lahir : tanggal lahir mahasiswa <br/>
    no hp : no hp mahasiswa <br/>
    alamat : alamat mahasiswa <br/>
    Hobi : <br/>
    1. Hobi 1 <br/>
    2. Hobi 2 <br/>
    3. dst <br/>
- Tampilkan seluruh data dengan teknik perulangan

In [1]:
biodata = {
    "Nama\t\t": "Rino Ahmad Raga",
    "Kelas\t\t": "Rombel 2",
    "Tanggal Lahir\t": "14 - O4 - 2006",
    "no hp\t\t": "1234567890",
    "alamat\t\t": "Salaman",
    "Hobi": ["1. Hobi 1 : Baca LN", "2. Hobi 2 : Main vidio game"]
}

for key, value in biodata.items():
  if isinstance(value, list):
    for item in value:
      print(key, item)
  else:
    print(key, value)

Nama		 Rino Ahmad Raga
Kelas		 Rombel 2
Tanggal Lahir	 14 - O4 - 2006
no hp		 1234567890
alamat		 Salaman
Hobi 1. Hobi 1 : Baca LN
Hobi 2. Hobi 2 : Main vidio game